    html {
    overflow: hidden;
    height: 100%;
    }

    body {
    height: 100%;
    overflow: auto;
    font-family: "Gill Sans", Monaco, monospace;
    font-size: 18px;
    background-color: rgb(255, 240, 245);
    }

    @media screen and (min-width: 50rem){
        .outer-box-frame {
            border: 1rem solid #C1A2CC;
            margin: 1rem auto;
            padding: 4.2rem;
            padding-top: 2.5rem;
            max-width: 60rem;
        }
    }

    a:link, a:visited {
    text-decoration: none;
    }

    a:hover, a:active {
    text-decoration: underline;
    }

    .image {
    width:200px;
    float:left;
    margin-right:20px;
    }

    .image-proj {
    display:block;
    width:415px;
    margin-right:auto;
    margin-left:auto;
    }

    .image-nn {
    display:block;
    width:320px;
    margin-right:auto;
    margin-left:auto;
    }

    .project_item {
    overflow:hidden;
    max-width:1000px;
    padding-bottom: 10px;
    }

    .project_item p {
    
    }

    h1 {
    font-size: 42px;
    text-align: center;
    font-weight: normal;
    margin-bottom:0.5em;
    }

    h2 {
    font-size: 1.5rem;
    font-weight: 500;
    }

    h3 {
    text-align:center;
    font-size: 1.4rem;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 1em;
    font-weight: 500;
    }

    p {
    margin-top: 0px;
    overflow:hidden;
    font-size:18px;
    }

    ul {
    margin-top: 0px;
    }

    li {
    margin-bottom: px;
    }

	.project_table{
	table-layout: fixed;
	width: 950px;
	border: 1px solid black;
	}

	.project_table th {
	border: 1px solid black;
	}

	.project_table td {
	border: 1px solid black;
	padding: 15px;
	}


  #navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  #navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  #navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  #navbar a.active {
    background-color: #4CAF50;
    color: white;
  }

  #back2Top {
    width: 40px;
    line-height: 40px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    position: fixed;
    bottom: 50px;
    right: 0;
    background-color: #DDD;
    color: #555;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
}
#back2Top:hover {
    background-color: #DDF;
    color: #000;
}