---
layout: default
title: Blog
---

{% comment %}
# Show the first N posts, where N is defined by paginate in _config.yml.
{% endcomment %}
<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.excerpt }}
    {% if post.content contains site.excerpt_separator %}
      <a href="{{ post.url }}">Read more</a>
    {% endif %}

  </div>
  {% endfor %}
</div>

{% comment %}
Put links to the previous & next pages after the content.
{% endcomment %}
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item " href="{{ "/" | relative_url }}blog/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item">Older</span>
  {% endif %}
  <a class="pagination-item" href="{{ "/" | relative_url }}blog/archive">Archive</a>
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item" href="{{ "/" | relative_url }}blog">Newer</a>
    {% else %}
      <a class="pagination-item" href="{{ "/" | relative_url }}blog/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item">Newer</span>
  {% endif %}
</div>

